@font-face { 
  font-family: 'Roboto-Medium'; 
  src: url('../fonts/Roboto-Medium.ttf') format("truetype"), 
  local('Roboto-Medium'); 
}

body {
  font-family: 'Roboto-Medium','Noto Sans TC', sans-serif;
}

h1 {
  color: pink;
}