@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: 'Roboto-Medium'; 
  src: url('../fonts/Roboto-Medium.ttf') format("truetype"), 
  local('Roboto-Medium'); 
}

body {
  font-family: 'Roboto-Medium','Noto Sans TC', sans-serif;
}
